<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CallTrac</title>
    <link rel="shortcut icon" href="{% static 'twilio/favicon_Kfu_icon.ico'%}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'twilio/index.css' %}">
</head>
<body>
  <header>
    <a href="https://www.twilio.com/docs/api/chat/guides/quickstart-js" 
      target="_blank"> JS References
        <i class="fa fa-fw fa-external-link"></i>
      </a>
  </header>

  <section>
    <div id="messages"></div>
    <input id="chat-input" type="text" placeholder="say anything" autofocus/>
  </section>

  <script src="https://media.twiliocdn.com/sdk/js/chat/releases/2.2.0/twilio-chat.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{% static 'twilio/index.js' %}"></script>
</body>
</html>
